@model AURA.EmergencyAssist.Models.DataModels.RespondentDataModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RespondentDataModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RespondentID" class="control-label"></label>
                <input asp-for="RespondentID" class="form-control" />
                <span asp-validation-for="RespondentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeCode" class="control-label"></label>
                <input asp-for="EmployeeCode" class="form-control" />
                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespondentTypeID" class="control-label"></label>
                <input asp-for="RespondentTypeID" class="form-control" />
                <span asp-validation-for="RespondentTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleID" class="control-label"></label>
                <input asp-for="VehicleID" class="form-control" />
                <span asp-validation-for="VehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationID" class="control-label"></label>
                <input asp-for="OrganizationID" class="form-control" />
                <span asp-validation-for="OrganizationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
